.data-container {
  margin: 20px;
  padding: 20px; }
  .data-container .input {
    width: 500px;
    float: left; }
    .data-container .input textarea {
      width: 600px;
      height: 120px;
      border: 3px solid #cccccc;
      padding: 5px;
      font-family: Tahoma, sans-serif;
      background-image: url(bg.gif);
      background-position: bottom right;
      background-repeat: no-repeat; }
  .data-container button {
    margin: 20px; }
  .data-container .svg-container-1, .data-container .svg-container-2, .data-container .svg-container-3 {
    border: 1px solid grey; }

.bar--positive {
  fill: steelblue; }

.bar--negative {
  fill: darkorange; }

.axis text {
  font: 10px sans-serif; }

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke: #282828;
  stroke-width: 1.5px; }
